body{
	background-color: #040D10;
	font-family: 'Comfortaa';
}

.navbar-style{
	color: #C7D3DD;
	background-color: #051014;
}

a.navbar-style{
	color: #C7D3DD;
	text-decoration: none;
}

.map{
	margin-top: 20px;
	margin-bottom: 20px;
}

.history {
	object-fit: cover;
}

.title {
	text-align: center;
	color: #c2a878;
}

.title-faction {
	text-align: center;
	position: relative;
	top: 40px;
	vertical-align: middle;
	color: #c2a878;
}

.title-character {
	text-align: center;
	line-height: 6vw;
	vertical-align: middle;
	color: #051014;
}

.image-faction {
	height: 171px;
	width: 1186px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	filter: brightness(0.4);
}

.colony{	
	color: #051014;
	border: none;
	background-color: #C7D3DD;
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
}

.move{
	color: #051014;
	background-color: #c2a878;
	padding: 5px;
	padding-left: 10px;
	margin: 10px;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset;
}

.scum{
	text-shadow: 2px 2px 8px black;
	color: #D9C9AB;
	background-color: #051014;
	padding: 10px;
	width: 200px;
	text-align: center;
}

.resource{
	padding: 2px;
	padding-left: 4px;
	margin: 4px;
}

.resources{
	margin-left: 10px;
	margin-right: 20px;
}

.surplus{
	color: #051014;
	background-color: #c2a878;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset, rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.need{
	color: #E0E0E0;
	background-color: #8B1824;
	box-shadow: rgba(0, 0, 0, 0.20) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset, rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.fluff{
	color: #051014;
	background-color: #c2a878;
	padding: 5px;
	padding-left: 10px;
	margin: 10px;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset;
}

.help-1{
	color: #D9C9AB;
	text-align: center;
}

.help-2{
	color: #D9C9AB;
}

.planet{
	color: #D9C9AB;
	background-color: #051014;
	padding: 10px;
	padding-left: 60px;
	padding-right: 60px;
}

.locations{
	color: #051014;
	background-color: #C7D3DD;

}

.transtar{
	color: #051014;
	background-color: #C7D3DD;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border: none;
	box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.main-colony{
	color: #051014;
	background-color: #c2a878;
	padding: 10px;
}

.event{
	color: #051014;
	background-color: #C7D3DD;
	padding: 10px;
	padding-left: 10px;
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
	border: none;
	box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.event-done{
	color: #19241C;
	background-color: #B3CBB9;
	padding: 10px;
	padding-left: 10px;
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

.season-backup{
	color: #051014;
	background-color: #C7D3DD;
	padding: 10px;
	padding-left: 50px;
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

.season{
	color: #C7D3DD;
	background-color: rgba(0,0,0,0);
	padding: 10px;
	padding-left: 50px;
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
	border: none;
}

.season::before{
	height: 100%;
	width: 5px;
	position: absolute;
	content: "";
	background-color: #C7D3DD;
	left: 30px;
}

.age{
	border:none;
	color: #051014;
	background-color: #c2a878;
	padding: 10px;
	padding-left: 50px;
	margin: 20px;
	border: none;
}

.icon{
	width: 18px;
	height: 18px;
}

.stats{
	width: 72px;
	height: 72px;
}

.statblock{
	color: #051014;
	background-color: #C7D3DD;
	border: none;
	padding: 10px;
	padding-left: 20px;
	margin: 20px;
}

.statblock-2{
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

.statblock-3{	
	color: #051014;
	background-color: #C7D3DD;
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

.collage{
	position: absolute;
	width: 30%;
	margin-left: 68%
}

.flex-rack{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	justify-content: space-between
  }

.moves-block{
	color: #051014;
	background-color: #c2a878;
	padding: 5px;
	padding-left: 10px;
	margin: 10px;
	width: 47%;
	box-shadow: rgba(255, 187, 61, 0.10) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset;
}

.character-block{
	color: #051014;
	background-color: #C7D3DD;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 1rem;
	border: none;
	box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.character-move{
	color: #051014;
	background-color: #c2a878;
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	box-shadow: rgba(255, 187, 61, 0.10) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset;
}

.assets{
	position: relative;
	float: right;
	width: 500;
	height: 334;
	border-color: rgba(0,0,0,0.2);
	border-style: solid;
	border-width: 0;
	border-left-width: 1px;
	margin-left: 1rem;
	padding-left: 1rem;
}

.tooltip1 {

}

.tooltip1 .tooltiptext {
	top: 2.3rem;
	left: -3px;
	display: none;
  	width: 300px;
  	background-color: #051014;
  	color: #fff;
  	text-align: center;
  	padding: 1rem;
  	padding-top: 1.5rem;
  	border-radius: 6px;
  	border-width: 1px;
  	border-style: solid;
  	border-color: rgba(0,0,0,0.1);
 
  	position: absolute;
  	z-index: 1;
  	transition: 0.2s;
}

.tooltip1:hover .tooltiptext {
	display: inline;
}

.surplus .tooltiptext {
	color: #051014;
	background-color: #c2a878;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset, rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.need .tooltiptext {
	color: #E0E0E0;
	background-color: #8B1824;
	box-shadow: rgba(0, 0, 0, 0.30) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset, rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.info-flex{
	flex: 1;
	margin: 0.3rem;
}

@media only screen and (max-width: 1000px) {
 	.info-flex{
 		flex: none;
 		width: 95%;
	}
}


.wiki-wraper{
	margin-top: 3rem;
}

.wiki-logl-wraper{
	margin: 3rem;
}

.wiki-container{
	color: #051014;
	background-color: #C7D3DD;
	padding: 3rem;
	flex: 8;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 60px 60px -12px inset, rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.wiki-ifrcontainer{
	color: #051014;
	padding: 3rem;
	background-color: #C7D3DD;
	flex: 8;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 60px 60px -12px inset, rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.wiki-contcontainer{
	color: #051014;
}

.wiki-menu{
	height: auto;
	color: #D9C9AB;
	background-color: #051014;
	padding: 2rem;
	flex: 1;
	width:500px;
}

.wiki-menu-links a:link{color: #D9C9AB;}
.wiki-menu-links a:visited{color: #D9C9AB;}
.wiki-menu-links a:hover{color: #D9C9AB;}
.wiki-menu-links a:active{color: #D9C9AB;}

.stat-links {
	text-decoration: none;
	text-align: center;
	list-style-type: none;
	font-size: 18px;
}

.stat-links a:link{
	color: #D9C9AB;
	text-decoration: none;
	margin-left: 0;
}
.stat-links a:visited{
	color: #D9C9AB;
	text-decoration: none;
	margin-left: 0;
}
.stat-links a:hover{
	color: #D9C9AB;
	text-decoration: none;
	margin-left: 0;
}
.stat-links a:active{
	color: #D9C9AB;
	margin-left: 0;

}

.link-grey:link{color: #D9C9AB; opacity: 0.5;}
.link-grey:visited{color: #D9C9AB; opacity: 0.5;}
.link-grey:hover{color: #D9C9AB; opacity: 0.5;}
.link-grey:active{color: #D9C9AB; opacity: 0.5;}

@media only screen and (max-width: 1000px) {
 	.info-flex{
 		flex: none;
 		width: 95%;
	}
}

.treaty-name {
	color: #051014;
	background-color: #C7D3DD;
	padding: 3px;
	padding-left: 1rem;
	float: left;
	width: 35%;
	min-width: 130px;

	border-radius: 20px 0px 0px 20px;
	border-width: 1px;
	border-right-width: 0;
  	border-style: solid;
  	border-color: rgba(0,0,0,0.2);
}

.treaty-you {
	color: #051014;
	background-color: #C7D3DD;
	padding: 3px;
	padding-left: 0.6rem;
	float: left;
	width:30px;

	border-width: 1px;
	border-left-width: 0;
	border-right-width: 0;
  	border-style: solid;
  	border-color: rgba(0,0,0,0.2);
}

.treaty-them {
	color: #E0E0E0;
	background-color: #8B1824;
	padding: 3px;
	padding-left: 0.6rem;
	border-radius: 0px 20px 20px 0px;
	float: left;
	width:35px;
	border-width: 1px;
  	border-style: solid;
  	border-color: rgba(0,0,0,0.2);
}

.treaty-wrapper {
	margin-bottom: 1rem;
	clear: none;
	float: left;
	display: block;
	margin-right: auto;
	border-radius: 20px 20px 20px 20px;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 30px 60px -12px inset, rgba(100, 100, 111, 0.1) 0px 7px 10px 0px;
}

.asset {
	color: #051014;
	background-color: #C7D3DD;

	padding: 3px;
	padding-left: 1rem;
	padding-right: 1rem;

	margin: 1rem;
	margin-left: 0;
	margin-top: 0;
	margin-right: auto;

	border-width: 1px;
  	border-style: solid;
  	border-radius: 10px;
  	border-color: rgba(0,0,0,0.2);

  	text-align: center;
  	
  	box-shadow: rgba(255, 255, 255, 0.20) 0px 30px 60px -12px inset, rgba(100, 100, 111, 0.1) 0px 7px 10px 0px;
}

.asset .tooltiptext {
	color: #051014;
	background-color: #c2a878;
	box-shadow: rgba(255, 255, 255, 0.20) 0px 30px 60px -12px inset, rgba(255, 187, 61, 0.3) 0px 18px 36px -18px inset, rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.flex-assets{

}

.wikima-logo{
 	height: 100px; width: 100px;
 	float: left;
}

.wikima-logo2{
 	height: 100px; width: 100px;
 	position: absolute;
 	top: 0;
 	left: 0;
}

.wikima-iframe{
	width: 100%;
}

.wikima-image{
	margin: 1rem;
	padding: 0.5rem;
	border-width: 1px;
  	border-style: solid;
  	border-color: rgba(0,0,0,0.2);
  	border-radius: 10px;
}

@media only screen and (max-device-width: 1000px)  {
 	.info-flex{
 		display: block;
 		width: 95%;
	}
	.wikima-image{
		display: none;
	}

	.wiki-wrapper{
		box-shadow: none;
	}
}