body{
	background-color: #040D10;
	font-family: 'Comfortaa';
}

.map{
	margin-top: 20px;
	margin-bottom: 20px;
}

.history {
	object-fit: cover;
}

.title {
	text-align: center;
	color: #c2a878;
}

.colony{	
	color: #051014;
	background-color: #C7D3DD;
	padding: 10px;
	padding-left: 20px;
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

.move{
	color: #051014;
	background-color: #c2a878;
	padding: 5px;
	padding-left: 10px;
	margin: 10px;
}

.resource{
	padding: 2px;
	padding-left: 4px;
	margin: 4px;
}

.resources{
	margin-left: 10px;
	margin-right: 20px;
}

.surplus{
	color: #051014;
	background-color: #c2a878;
}

.need{
	color: #FCFAFA;
	background-color: #8B1824;
}

.fluff{
	color: #051014;
	background-color: #c2a878;
	padding: 5px;
	padding-left: 10px;
	margin: 10px;
}